@import 'tile.scss';

$board-bg-color: #1a1a1a;

#js-board {
  // Scale to fill available container space (square, limited by smaller dimension)
  width: min(100cqw, 100cqh);
  height: min(100cqw, 100cqh);
  aspect-ratio: 1;
  background-color: $board-bg-color;
  box-sizing: border-box;
  border-radius: 4px;
  border-top: var(--tile-border-width) solid $tile-border-color;
  border-left: var(--tile-border-width) solid $tile-border-color;

  .board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    background-color: $board-bg-color;

    .row {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      height: auto;
    }
  }

  .tile {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background-color: $board-bg-color;
    border: none;
    border-right: var(--tile-border-width) solid $tile-border-color;
    border-bottom: var(--tile-border-width) solid $tile-border-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $decal-font-color;
    position: relative;
    box-sizing: border-box;
    // Make tile a container so decal can use container query units
    container-type: size;

    &.starting {
      background-color: #444;
    }

    .decal {
      width: 100%;
      height: 100%;
      background-color: #f5f5f5;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      overflow: visible;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 30cqmin;

      &.temp {
        background-color: #ffd54f;
      }

      &.last-move {
        background-color: #bae9ff;
      }
    }

    .highlight {
      width: 100%;
      height: 100%;
      background-color: #ffd54f;
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px;
    }
  }
}
