@import 'tile.scss';
@import 'base.scss';

$rack-gap: 6px;

#js-rack {
  display: inline-flex;
  padding: 0;
  background-color: transparent;
  align-items: center;

  .rack {
    display: flex;
    gap: $rack-gap;
  }

  .tile {
    // Scale tiles to 11% of container width (7 tiles + gaps = 85% of width)
    width: min(var(--tile-size), 11cqi);
    height: min(var(--tile-size), 11cqi);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $decal-font-color;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    // Make tile a container so decal can use container query units
    container-type: size;

    .decal {
      width: 100%;
      height: 100%;
      background-color: #f5f5f5;
      text-align: center;
      text-transform: uppercase;
      overflow: visible;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 4px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 30cqmin;
      display: flex;
      align-items: center;
      justify-content: center;

      &.temp {
        background-color: #ffd54f;
      }
    }

    .highlight {
      width: 100%;
      height: 100%;
      background-color: #ffd54f;
      opacity: 0.4;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 4px;
    }
  }
}
