@import 'tile.scss';
@import 'base.scss';

$rack-gap: 6px;

#js-rack {
  display: inline-flex;
  padding: 0;
  background-color: transparent;
  align-items: center;

  .rack {
    display: flex;
    gap: $rack-gap;
  }

  .tile {
    @include responsiveTile();
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font: $tile-font;
    font-size: calc(var(--tile-size) * 0.45);
    text-align: center;
    color: $decal-font-color;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;

    .decal {
      width: 100%;
      height: 100%;
      background-color: #f5f5f5;
      text-align: center;
      line-height: var(--tile-size);
      text-transform: uppercase;
      overflow: visible;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 4px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;

      &.temp {
        background-color: #ffd54f;
      }
    }

    .highlight {
      width: 100%;
      height: 100%;
      background-color: #ffd54f;
      opacity: 0.4;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 4px;
    }
  }
}
