// Tile variables - no CSS output, just shared values
$tile-num: 12;
$tile-size: 40px;
$tile-color: black;
$starting-tile-color: #888;
$tile-border-color: #666;
$tile-border-width: 2px;
$tile-font: bold 70%/1.5 "Open Sans", sans-serif;
$decal-font-color: black;

@mixin coloredSquare($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
}
