/* Colors */
/* Make whole site full page width */
* {
  margin: 0;
  padding: 0; }

/* Prevent overscroll bounce on iOS */
html {
  overscroll-behavior: none; }

/* Set global font */
body {
  font-family: "Raleway";
  overscroll-behavior: none; }

/* No link underlines */
a {
  text-decoration: none; }
