/* Colors */
/* Make whole site full page width */
* {
  margin: 0;
  padding: 0;
}

/* Set global font */
body {
  font-family: "Raleway";
}

/* Nav */
nav {
  padding: 20 30px 20px 30px;
  flex: 1.5;
  background: #7851a9;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

nav ul li a:hover {
  background-color: black;
}

nav .highlight {
  background-color: #4caf50;
  float: right;
}

nav .disabled-link {
  pointer-events: none;
  background-color: #444;
}
