.tile {
  width: 40px;
  height: 40px;
  background-color: #1a1a1a;
  border: none;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  display: inline-block;
  font: bold 70%/1.5 "Open Sans", sans-serif;
  text-align: center;
  color: black;
  position: relative;
  box-sizing: border-box; }
  .tile.starting {
    background-color: #444; }
  .tile .decal {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    font-weight: 700; }
    .tile .decal.temp {
      background-color: #ffd54f;
      box-shadow: 0 2px 8px rgba(255, 213, 79, 0.5); }
    .tile .decal.last-move {
      background-color: #bae9ff; }
  .tile .highlight {
    width: 100%;
    height: 100%;
    background-color: #ffd54f;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px; }

#js-rack {
  width: 280px;
  height: 40px;
  background-color: #1a1a1a;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); }
  #js-rack .rack {
    background-color: #1a1a1a; }
