/* Colors */
/* Make whole site full page width */
* {
  margin: 0;
  padding: 0;
}

/* Set global font */
body {
  font-family: "Raleway";
}

.scoreboard {
  width: 100%;
  height: 75px;
  color: white;
  text-align: center;
}
.scoreboard .scoreboard-lt {
  width: 50%;
  height: 100%;
  background-color: #7851a9;
  border-color: transparent;
  border-style: solid;
  float: left;
  transition: border-color 0.5s;
}
.scoreboard .scoreboard-lt.current {
  border-color: white;
}
.scoreboard .scoreboard-rt {
  width: 50%;
  height: 100%;
  background-color: #7851a9;
  border-color: transparent;
  border-style: solid;
  float: right;
  transition: border-color 0.5s;
}
.scoreboard .scoreboard-rt.current {
  border-color: white;
}
