@import 'styles/reset.css';
@import 'styles/base.css';
@import 'styles/form.css';
@import 'styles/table.css';
@import 'styles/board.css';
@import 'styles/playarea.css';
@import 'styles/rack.css';
@import 'styles/tile.css';
@import 'styles/scroller.css';
@import 'styles/scoreboard.css';
@import 'styles/move_message_list.css';
@import 'styles/move_history.css';
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap");

/* Compile SCSS: sass --no-source-map --watch app/javascript/scss/:app/javascript/frontend/styles/ */
.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
